<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Forum | Login</title>
    </head>
    <body>
        <h1>Login To Forum!</h1>
        <form action="/login" method="POST">
            <fieldset>
                <legend>Login</legend>
                <label for="username">Username</label>
                <input type="text" name="username">
                <label for="password">Password</label>
                <input type="text" name="password">
                <input type="submit" value="Login">
            </fieldset>
        </form>
    </body>
</html>