<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Forum | Sign Up</title>
    </head>
    <body>
        <h1>Sign Up To Forum!</h1>
        <form action="/signup" method="POST">
            <fieldset>
                <legend>Sign up</legend>
                <label for="username">Username</label>
                <input type="text" name="username">
                <label for="password">Password</label>
                <input type="text" name="password">
                <input type="submit" value="Sign Up!">
            </fieldset>
        </form>
    </body>
</html>